alatty/wcwidth-std.h linguist-generated=true
alatty/emoji.h linguist-generated=true
alatty/charsets.c linguist-generated=true
alatty/key_encoding.py linguist-generated=true
alatty/unicode-data.c linguist-generated=true
alatty/rowcolumn-diacritics.c linguist-generated=true
alatty/rgb.py linguist-generated=true
alatty/srgb_gamma.* linguist-generated=true
alatty/gl-wrapper.* linguist-generated=true
alatty/glfw-wrapper.* linguist-generated=true
alatty/parse-graphics-command.h linguist-generated=true
alatty/options/types.py linguist-generated=true
alatty/options/parse.py linguist-generated=true
alatty/options/to-c-generated.h linguist-generated=true
kittens/diff/options/types.py linguist-generated=true
kittens/diff/options/parse.py linguist-generated=true
glfw/*.c linguist-vendored=true
glfw/*.h linguist-vendored=true
3rdparty/** linguist-vendored=true
kittens/unicode_input/names.h linguist-generated=true
tools/wcswidth/std.go linguist-generated=true
tools/unicode_names/names.txt linguist-generated=true
terminfo/alatty.term* linguist-generated=true
terminfo/x/* linguist-generated=true
*_generated.h linguist-generated=true
*_generated.go linguist-generated=true
*_generated_test.go linguist-generated=true
*_generated_test.s linguist-generated=true
*_generated.s linguist-generated=true

*.py  text diff=python
*.m  text diff=objc
*.go text diff=go
